<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@500&display=swap">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
  <body>
  <div class="login-page">
	<div id="login-form">
		<div class="head">
			<h1>Log.In</h1>
		</div>
		<div class="details">
			<form th:action="@{/userLogin}" method="post" th:object="${user}">
				<div class="user">
					<input type="text" name="userName" placeholder="Username">
				</div>
				<div class="pass">
					<input type="password" name="passWord" placeholder="Password">
				</div>
				<div class="submit">
					<input type="submit" value="Log-In">
				</div>
			</form>
			<p class="message">Not registered? <a href="#" class="msgLink">Create an Account</a></p>
			<p id="errorLoginMsg" th:if="${param.error}" class="error">Wrong user or password</p>
			<p id="registerSuccessMessage" th:if="${registerSuccessMessage}" th:text="${registerSuccessMessage}" ></p>
		</div>
	</div>
	<div id="register-form" >
		<div class="head">
			<h1>Sign.Up</h1>
		</div>
		<div class="details">
			<form th:action="@{/register}" method="post" th:object="${user}">
				<div class="user">
					<input type="text" name="userName" placeholder="Username">
				</div>
				<div class="pass">
					<input type="password" name="passWord" placeholder="Password">
				</div>
				<div class="submit">
					<input type="submit" value="Sign-Up">
				</div>
			</form>
			<p class="message">Already registered? <a href="#" class="msgLink">Sign In</a></p>
			<p id="errorRegisterMsg" th:if="${errorMessage}" th:text="${errorMessage}" ></p>
			<!--  <p id="errorRegisterMsg" th:if="${param.error}" class="error">The username already exists</p>-->
		</div>
	</div>
   </div>
   <script th:src="@{/js/login.js}"></script>
</body>
</html>